﻿<div id="dlg-invite">
    <span class="LS to-label" tag="M1498">To</span>
    <span class="LS subj-label" tag="M1499">Subject</span>
    <input type="text" id="email-address" />
    <input type="text" id="subject" />
    <textarea id="invite-text" />
</div>