﻿<div class="add-entry-div" style="width: 400px; height: 120px; ">
    <span class="LS" tag="M7101" id="add-entry-name-label">Name</span>
    <input type="text" id="add-entry-name" size="22"/>

    <span class="LS" tag="M7504" id="add-entry-descr-label">Description</span>
    <input type="text" id="add-entry-descr" size="30"/>
    <span class="LS" tag="M7109" id="pk-label">Visible to</span>
    <select id="add-entry-pk">
        <option value="M7117" tag="M7117" class='LS' selected="selected">
            Public
        </option>
        <option value="M7118" tag="M7118" class='LS'>Private</option>
        <option value="M1513" tag="M1513" class='LS'>Password protection</option>
    </select>
    <!-- lock icon on the folder icon -->
    <div id="folder-pk-icon">
        <img id="lock-icon" />
    </div>
    <div id="doc-iw-info">
        <img id="docicon-on-iw" src="../pics/doc-icon.png" />
        <div id="doc-introduction"></div>
    </div>
    <span class="LS" tag="M6015" id="share-url-label">public URL</span>
    <span id="share-url">the url string</span>
    <span class="LS" tag="M1504" id="pwd-label"></span>
    <input type="password" id="entry-password" placeholder="password"
           readonly onfocus="this.removeAttribute('readonly');"/>
    <input type="text" id="pwd-expire-date"/>
    <span class="LS" tag="M1515" id="postpk-label"></span>
    <select id="sel-postpk">
        <option value="M7117" tag="M7117" class='LS' selected="selected">
            public
        </option>
        <option value="M7118" tag="M7118" class='LS'>private</option>
    </select>
</div>
