﻿<div id="Dlg_login">
    <table id="login-dlg-table">
        <tr><td><span class="LS login-label" tag="M1501">UserID</span>:</td>
        <td><input id="login_userid"/></td></tr>
        <tr><td><span class="LS login-label" tag="M1504"></span>:</td>
        <td><input type="password" id="login_password"
             readonly onfocus="this.removeAttribute('readonly');"/>
        </td></tr>
    </table>
</div>