<div id="merge-dlg">
    <div id="head-section">
        <div class="head-radio-group">
            <input type="radio" class="radio1" name="reason" value="same" />
            <input type="radio" class="radio2" name="reason" value="out" />
            <input type="radio" class="radio3" name="reason" value="in" />
            <span class="LS no-adoption-label" tag="M6006">No adoption</span>
            <span class="LS adopted-out-label" tag="M6007">Adopted out</span>
            <span class="LS adopted-in-label" tag="M6008">Adopted in</span>
        </div>
        <div id="head-pa"></div>
        <input type="text" id="merge-search-input" />
        <img id="merge-search-button" src="pics/magnifier0.png"/>
    </div><!-- end of head-section -->
    <div id="merge-offerings">
        <ul id="merge-pa-list">
        </ul>
    </div>
    <div id="merge-pa-info">
        <span id="merge-pa-tname" />
        <span id="merge-pa-dates" />
        <span id="merge-pa-pob" />
    </div>
</div>