﻿<div id="search-dlg">
    <img id="s-button" src="pics/magnifier0.png"/>
    <input type="text" id="s-input" />
    <div id="relation-start"></div>
    <div id="offerings">
            <!--
        <ul id="pa-list">
            <li class="pa-li-offering">
              <div class="li-pa-box">
              +----------------------------------------+
              | <tag of the pa being offered> | <icon> |
              +----------------------------------------+
                <div class="pa-tag"/><div class="pa-relation"/>
              </div>
            </li>
        </ul>
            -->
    </div>
    <span id="number-loaded"/>
    <span class="LS" id="pas-loaded" tag="M0015">Loaded</span>
    <span class="LS" tag="M0013" id="more-pas" />
    <span id="search-pa-tname" />
    <span id="search-pa-dates" />
    <span id="search-pa-pob" />
</div>