div#newcat-frame
{
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #C0C0C0;
}
span#cat-name-label
{
    position: absolute;
    top: 10px;
    left: 5px;
    width: 200px;
    height: 28px;
}
span#cat-pk-label
{
    position: absolute;
    top: 10px;
    left: 230px;
    width: 200px;
    height: 28px;
}
select#cat-name
{
    position: absolute;
    top: 36px;
    left: 5px;
    width: 200px;
    height: 30px;
}
select#cat-pk
{
    position: absolute;
    top: 36px;
    left: 230px;
    width: 190px;
    height: 30px;
}
span#cat-descr-label
{
    position: absolute;
    top: 75px;
    left: 5px;
    width: 200px;
    height: 28px;
}
textarea#cat-descr
{
    position: absolute;
    top: 100px;
    left: 5px;
    width: 410px;
    height: 50px;
}