﻿/*  DB Manager styling  */
dvi#dbmanager {
    position: relative;
    width: 440px;
    height: 300px;
}
/* password input */
input#super-password {
    position: absolute;
    top: 11px;
    left: 10px;
    width: 162px;
    height: 22px;
    font-size: 20px;
}
input.dbmanager-radio {
    position: absolute;
    left: 190px;
    width: 14px;
    height: 14px;
}
input#savedb { /* save DB*/
    position: absolute;
    top: 15px;
}
input#recoverdb { /* recover DB */
    position: absolute;
    top: 44px;
}
span.dbmanager {
    position: absolute;
    width: auto;
    height: 30px;
    font-size: 16px;
}
span#label-super-password {
    top: 44px;
    left: 20px;
}
span#label-savedb {
    position: absolute;
    top: 13px;
    left: 220px;
}
span#label-recoverdb {
    position: absolute;
    top: 43px;
    left: 220px;
}

input#file-name {
    position: absolute;
    top: 75px;
    left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 500px;
    height: 20px;
    text-align: center;
}

