div#doc_pane {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: blue;
    padding: 0px;
    margin: 0px;
}
div#doc-titlebar
{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 34px;
    border: solid thin silver;
}
span#doc-title-text {
    position: absolute;
    top: 9px;
    left: 25px;
    height: 22px;
    font-size: 15px;
    width: auto;
}
span#doc-title-text select
{
    position: relative;
    top: -2px;
    height: 24px;
    /*
    font-size: 18px;
    */
}
button#doc-close-btn {
    position: absolute;
    top: 4px;
    right: 5px;
    width: 32px;
    height: 26px;
}

button#doc-cancel-btn {
    position: absolute;
    top: 4px;
    right: 85px;
    width: 100px;
    height: 26px;
}
button#doc-save-btn {
    position: absolute;
    top: 4px;
    right: 190px;
    width: 100px;
    height: 26px;
}

div#doc-upper
{
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #0B173B;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    padding: 0px;
    margin: 0px;
    display: table-cell; 
    vertical-align: middle;
}
/*
 * video player
 */
div#doc-upper div#video-box
{
    position: relative;
    height: 99%;
    width: 98%;
    margin: 0 auto;
}
div#doc-upper div#video-box video
{
    height: 100%;
    width: auto;
}


/*
 * audio player
 */
div#backward-jump
{
    position: absolute;
    top: 54px;
    left: 255px;
    width: 70px;
    height: 70px;
    background-image: url(../pics/backward-jump-button.png);
    background-size: 100% 100%, 100% 100%;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    opacity: 0.12;
}
div#forward-jump
{
    position: absolute;
    top: 54px;
    left: 675px;
    width: 70px;
    height: 70px;
    background-image: url(../pics/forward-jump-button.png);
    background-size: 100% 100%, 100% 100%;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    opacity: 0.12;
}
div#play-pause
{
    position: absolute;
    top: 40px;
    left: 391px;
    width: 100px;
    height: 100px;
    background-image: url(../pics/pause-button.png);
    background-size: 100% 100%, 100% 100%;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}
div#stopplay
{
    position: absolute;
    top: 40px;
    left: 520px;
    width: 100px;
    height: 100px;
    background-image: url(../pics/stop-button.png);
    background-size: 100% 100%, 100% 100%;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}
div#audio-progress-slider
{
    position: absolute;
    top: 160px;
    left: 200px;
    width: 600px;
    height: 10px;
    cursor: pointer;
    background: black;
}
div#audio-progress-slider a.ui-slider-handle
{
    background: #686A6F;
    height: 14px;
    cursor: pointer;
}
div#audio-progress-slider div.ui-slider-range
{
    background: #3A020C;
}
div#audio-vol-slider
{
    position: absolute;
    top: 45px;
    left: 80px;
    width: 16px;
    height: 140px;
    cursor: pointer;
    background: #3D3D3F;
}
div#audio-vol-slider a.ui-slider-handle
{
    background: #686A6F;
    width: 19px;
    height: 12px;
    cursor: pointer;
}
div#audio-vol-slider div.ui-slider-range
{
    background: #3A37F0;
}
span#vol-value
{
    position: absolute;
    top: 189px;
    left: 75px;
    font-size: 14px;
    height: 16px;
    color: lightgray;
    width: auto;
}
span#vol-label
{
    position: absolute;
    top: 210px;
    left: 70px;
    width: auto;
    height: 22px;
    font-size: 20px;
    color: white;
}
span#playtime-info
{
    position: absolute;
    top: 155px;
    left: 820px;
    width: auto;
    height: 20px;
    color: white;
    font-family: monospace;
    font-size: 14px;
}
img#tag-thunder
{
    position: absolute;
    top:210px;
    left: 845px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
div#audio-tag-container
{
    position: absolute;
    top: 200px;
    left: 170px;
    width: 645px;
    height: 40px;
    padding: 5px;
    background: silver;
    border-radius: 25px;
    border:solid;
    border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
    border-width: 3px 3px 3px 3px;
    background-color: #7E7A6D;
}
div#audio-tag-description
{
    position: absolute;
    top: 270px;
    left: 202px;
    width: 560px;
    height: 100px;
    background: lightgray;
    border-radius: 7px;
    background-color: #52586B;
    color: #D6D8E0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
div#audio-tag-description input#spinner
{
    position: absolute;
    top: 20px;
    left:20px;
    width: 100px;
    height: 30px;
}
div#audio-tag-description button
{
    position: absolute;
    top: 22px;
    left: 140px;
    height: 30px;
    width: 40px;
}
div.audio-tag
{
    position: relative;
    float: left;
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #9BA9CB;
    color: #EBEDF3;
}
div.tag-highlight
{
    border-style: solid;
    border-color: yellow;
    border-width: 3px;
    width: 26px;
    height: 26px;
}
span.tag-name
{
    position: absolute;
    top: 3px;
    left: 7px;
    font-family: monospace;
    font-size: 18px;
    width: auto;
    color: white;
}
div.tag-stick
{
    position: absolute;
    top: 152px;
    height: 28px;
    width: 4px;
    background-color: yellow;
}
/*
 * audio player end
 */
div#bigshow
{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
}
iframe
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 97%;
    /*
    pointer-events: none;
    */
}

div#show-title
{
    position: absolute;
    top: 2px;
    left: 280px;
    width: 498px;
    height: 22px;
    text-align: center;
    background-color: white;
    padding-left: 0px;
    border-radius:4px;
}
input#show-title-text
{
    position: absolute;
    top: 0px;
    left: 260px;
    outline:none;
    border-radius: 4px;
    font-size: 16px;
    width: 60%;
    height: 20px;
    margin: 0px;
}

/* lower has 30px high button-bar, and text-area below */
div#doc-lower
{
    position: relative;
    height: 33px;
    background-color: beige;
    padding: 0px;
    margin: 0px;
}
div#button-bar
{
    position: relative;
    height: 30px;
    background-color: silver;
}
/* anno-label, anno-icon and title-label are put in a div id-ed as atc.
 * this atc is clickable for toggling anno up/down
 */
div#atc
{
    position: absolute;
    top: 1px;
    left: 1px;
    width: 278px;
    height: 29px;
    background-color: #E6E6E6;
    cursor: pointer;
}
span#anno-label
{
    position: absolute;
    top: 3px;
    left: 30px;
    width: auto;
    height:30px;
    font-size: 18px;
}
span.anno-icon 
{
    position: absolute;
    top: 4px;
    left: 2px;
    font-size: 24px;
}
div#upper-text-area
{
    position: relative;
    top: 1px;
    left: 1px;
    width: 95%;
    height: 98%;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 170%;
    font-size: 16px;
    margin-left: auto ;
    margin-right: auto ;
    background-image: url("../pics/text-grid.jpg");
    background-repeat: repeat;
    font-family: monospace;
    overflow-y: auto;
    /* preserve line-break in div */
    white-space: pre-wrap;
}
div#doc-lower-text-area{
    position: relative;
    top: 2px;
    left: 1px;
    width: 94%;
    height: 80%;
    padding: 15px;
    line-height: 170%;
    margin-left: auto ;
    margin-right: auto ;
    background-image: url("../pics/stationery.jpg");
    background-repeat: repeat;
    overflow-y: auto;
    /* preserve line-break in div */
    white-space: pre-wrap; 
}

/* right side. contains a list of all facets icons */
div#item-fcs {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 151px;
    height: 100%;
    background-image: url("../pics/docpane-bg1.jpg");
    /*
    background-color: #0B3861;
    */
    padding: 0px;
    margin:0px;
    overflow-x: hidden;
    overflow-y:auto;
    border-left: 1px solid #D8D8D8;
}
button#add-btn
{
    position: absolute;
    bottom: 1px;
    right: 148px;
    width: 38px;
    height: 38px;
    opacity: 1.0;
    background-image: url("../pics/add-icon.png");
    background-repeat: no-repeat;
    background-size: 100%;
    color:red;
    cursor: pointer;
    z-index: 700;
}

div.libox
{
    position: relative;
    width: 134px;
    height: 88px;
    background-color: lightgray;
    vertical-align: middle;
}
li div.highlight
{
    background-color: #585858;
    border: 1px solid #E0E0E0;
}

div.libox img.doc
{
    position: absolute;
    top: 46px;
    left: 1px;
    width: 34px;
    height: 40px;
    max-width: 34px;
    max-height: 40px;
}
div.outer
{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 116px;
    height: 87px;
    background-color: lightgray;
}
div.inner
{
    font-size: 13px;
    margin: 0;
    width: 116px;
    height: 86px;
    padding-top: 0px;
    background-image: url("../pics/docicon-bg1.jpg");
    background-size: 93%;    
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    border: 1px solid #E0ECF8;
}
/* right-arrow besides thumb img, for action context-menu */
div.libox img.acticon
{
    position: absolute;
    right: 1px;
    width: 14px;
    height:14px;
    /* initially hidden, set to visible in highlight */
    visibility:hidden;
}
div.libox img.upicon
{
    top: 3px;
    opacity: 0.5;
}
div.libox img.deleteicon
{
    top: 30px;
    opacity: 0.5;
}
div.libox img.downicon
{
    top: 60px;
    opacity: 0.5;
}

/* unordered list containing facet-icons */
div#item-fcs ul
{
    position: absolute;
    top: -8px;
    left: 2px;
    list-style: none;
    padding: 2px;
    margin: 10px 0px 10px 0px;
}
div#item-fcs li
{
    margin: 2px;
    background-color: silver;
}
/**
 *  styles for form-table in bigshow
 */
table.cfg-form
{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin-left: auto ;
    margin-right: auto ;
    background-image: url("../pics/bg1.jpg");
    background-position: 50% 0;
    opacity: 0.9;
    color: white;
    border: 2px solid white;
}
table.cfg-form th
{
    background-color: silver;
}
table.cfg-form tr
{
    height: 28px;
}
table.cfg-form tr.button-row
{
    height: 34px;
    background-color: #FFFFFF;
}
.cfg-form-col1
{
    width: 25%;
}
.cfg-form-col2
{
    width: 75%;
}
.cfg-form-col1 input
{
    position: relative;
    top: 0px;
    left: 2px;
    width: 94%
}
.cfg-form-col2 textarea
{
    position: relative;
    top: 2px;
    left: 1px;
    width: 98%;
    height: 24px;
}
td input.password-input
{
    width: 80%;
    height: 24px;
}
td.title-img
{
    width: 40px;
}
img.fa-title-language
{
    width: 24px;
    height: 18px;  
}

td.title-text
{
    width: 400px;
}
input.form-input-txt
{
    width: 95%;
}
input#the-file-input
{
    visibility: hidden;
}
/* pa.locks entries will be put into */
div.palock-row
{
    position: relative;
    width: 95%;
    height: 30px;
}
.cfg-form-col2 select
{
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    height: 26px;
}
input.lock-pwd-input
{
    margin-left: 5px;
    margin-right: 5px;
    width: 80px;
    position: relative;
}
input.lock-exp-date-input
{
    margin-left: 5px;
    margin-right: 5px;
    width: 140px;
    position: relative;
}
span.post-exp-pk-label
{
    margin-left: 5px;
    margin-right: 2px;
    position: relative;
    width: auto;
}




