/* -----------------------------------------------------------------------------
 * frame body is layed out with css table, with 1 row and 2 cols:
 * col1: graphs-pane (also serves as tabs container)
 * col2: info-pane
 * ----------------*/

li.ui-state-default {
    font-size : 12px;
}

div.ui-tabs-panel {
    overflow: auto;
    font-size : 15px;
    font-family : georgia;
    font-style : normal;
    padding: 0px;
    margin: 0px;
}

div.tab {
    /* position: this is over-written by jquery-ui's tab
     * I set it to be absolute in Landing.AF_resize, which is called
     * every time a tab is activated.
     */
    top: 30px;
    left: -1px;
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: scroll;
    margin: 0px;
    padding: 0px;
}
div.ft-tab {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
div#tab2
{
    position: absolute;
    top: 30px;
    left: -1px;
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0px;
    padding: 0px;
}
div.cal-event-B
{
    position: absolute;
    top: 26px;
    left: 8px;
    width: 50px;
    height: 22px;
    border-radius: 10px;
    background: lightgreen;
}
div.cal-event-D
{
    position: absolute;
    top: 51px;
    left: 8px;
    width: 50px;
    height: 22px;
    border-radius: 10px;
    background: darkgray;
}
div.cal-event-U
{
    position: absolute;
    top: 76px;
    left: 8px;
    width: 50px;
    height: 22px;
    border-radius: 10px;
    background: darkred;
}

/* -------------------------------------------------------------------------
 * tabs
 * */
div#tabs {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    /* IE does not let use percentage for width/height ?? */
    width: 100%; 
    height: 100%;
    overflow: hidden;
}
div#tabs ul li
{
    top: -6px;
}
div#doc_pane_container{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: blue;
    padding: 0px;
    margin: 0px;
}
svg
{
    width: 100%;
    height: 100%;
}
line 
{
    stroke:rgb(254,254,254);
}
line.marker{ stroke-width: 2; }
line.bmarker{ stroke-width: 2; stroke:rgb(255,36,1);}

