/*
 * Copyright (C) 2014 Adacro Inc. - All Rights Reserved
 */
/*---------------------------------------------------------------------------
 * css style sheet for frame and title-bar and are on the title bar
 *---------------------------------------------------------------------------*/
html {
    overflow: hidden;
    /*
    min-width: 1024px;
    min-height: 805px;
    */
}
body { 
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    margin: 0px;
    padding: 0px; 
    font-family: Georgia, "Times New Roman", Times, serif;
}
.ui-button {
    border-top-left-radius: 11px 5px;
    border-bottom-left-radius: 11px 5px;
    border-top-right-radius: 11px 5px;
    border-bottom-right-radius: 11px 5px;
}

div.shield
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: silver;
    opacity: 0.3;
    z-index: 11;
}

/* -----------------------------------------------------------------------------
 * :-moz-only-whitespace frame: max boundary of mw app. Over the border, it will show the 
 * background image 
 * */
div#mw-frame {
    position: relative; /* this makes the frame flowing centered in page */
    top: 0px; /* leaves 12 px from top */
    left: 0px;
    margin: 0px;
    padding: 0px;
    
    /* 7 mm wider than nytimes.com or cnet.com, same as cnn.com */
    width: 100%;  
    height: 100%;
    background: beige;
}
/* -----------------------------------------------------------------------------
 * title bar contains language choice button, logo, homepage-icon that will
 * switch on(color) when logged in, for logged-in user ctxt-menu; and switchoff
 * to s non-reactive (colorless) homepage icon.
 * ----------------*/
div#mw-titlebar {
    position: relative;
    top: 0px;
    left: 0px;
    height: 50px; 
    /* width: if omit this, it will tak container's width */
    width: 100%;
    background-image: url("../pics/evening1.jpg");   
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*
    opacity: 0.8;   
    */
}
div#bar-bg
{
    position: absolute;
    top: 3px;
    left: -1px;
    width: 220px;
    height: 46px;
    background-image: url("../pics/nav-bg1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;   
}
img#search-icon {
    position: absolute;
    top: 4px;
    left: 98px;
    max-width: 44px;
    max-height: 44px;
    cursor: pointer;
    z-index: 5;
}
img#navback
{
    position: absolute;
    left: 68px;
    top: 8px;
    max-width: 34px;
    max-height: 36px;
}
img#navfore
{
    position: absolute;
    left: 143px;
    top: 8px;
    max-width: 34px;
    max-height: 36px;
}
div#mwlogo {
    box-shadow: 0px 0px 0px 2px #4B0B15;
    border: 4px solid #fff;
    border-radius: 2px;
    position: absolute;
    font-family:  Georgia;
    font-style:inherit;
    font-weight: bold;
    font-stretch: expanded;
    font-size: 20px;
    color: black;
    padding-top: 0px;
    padding-left: 16px;
    padding-right: 40px;
    width: auto;
    height: 34px;
    left: 210px;
    top: 5px;   
    text-align: center;
    display : flex;
    align-items: center;
    background-color: #EBE4BE;
    text-shadow: 1px 1px 1px #0F0103;
    background-image: url("../pics/frame200.png"); 
    background-repeat: no-repeat;        /* don't repeat bg-pic */
    background-size: 100% 100%;          /* scale the bg-pic to fit */
    opacity: 0.9;
    z-index: 4;
    cursor: pointer;
}
div#mw-subtitle
{
    position: absolute;
    left: 490px;
    top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-style: italic;
    color: gray;
    opacity: 0.5;
}
div#home-icon {
    position: absolute;
    top: -5px;
    right: -20px;
    width: 36px;
    height: 36px;
    background-image: url("../pics/login-person.png"); 
    background-repeat: no-repeat;        /* don't repeat bg-pic */
    background-size: 100% 100%;          /* scale the bg-pic to fit */
    border: 4px solid darkred;
    border-radius: 23px;
    cursor: pointer;
}
div#loginuser
{
    position: relative;
    top: -6px;
    left: 35px;
    display: inline-block;
    height: 16px;
    white-space: nowrap;
    padding-left: 4px;
    padding-right: 7px;
    padding-top: 0px;
    padding-bottom: 2px;
    background-color: #DDD;
    font-size: 12px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px white solid;
    z-index: 12;
}
img#logoicon {
    position: absolute;
    top: 5px;
    left: 165px;
    width: 74px;
    height: 43px;
    z-index: 5;
}
/* --------------------------------------------------------------------------
 * end of title bar
 *---------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------
 * body that contains familypane and personpane
 * --------------------------------------------------------------------------*/
div#body_container {
    position: relative;	/* absolute to the relatively positioned frame */
    padding: 0px;
    margin: 0px;
    top: 0px; /* titlebar height */
    left: 0px;
    width: 100%;
    height: 100%; /* = 800 - 62 */
    background-color: black;
    overflow: hidden;
}
div.wait-icon
{
    position: absolute;
    top: 100px;
    right:300px;
    width: 96px;
    height: 93px;
    background-image: url("../pics/hourglass.GIF"); 
    background-repeat: no-repeat;             /* don't repeat bg-pic */
    background-size: cover;                   /* scale the bg-pic to fit */
    z-index: 100000000;
    visibility: hidden;
}
span.title-shadow
{
    position: relative;
    top: -1px;
    font-size: 16px;
    color: black;
}
