/*
 * Copyright (C) 2014 Adacro Inc. - All Rights Reserved
 */
/* ------------------------------ */
div#newft_dlg_frame
{
    position: relative;
    top: 0px;
    left: 0px;
    width: 800px;
    height: 600px;
    background-image: url("../pics/bg1.jpg");   
    background-repeat: repeat;
    color: white;
}
input.newft-input
{
    width: 160px;
    height: 22px;
}
span#promocode-label
{
    position: absolute;
    top: 31px;
    left: 20px;
    width: auto;
    height: 32px;
}
input#promocode
{
    position: absolute;
    top: 30px;
    left: 179px;
    width: 280px;
}
span#newft-lang-label
{
    position: absolute;
    top: 80px;
    left: 436px;
}
img#newft-default-lang
{
    position: absolute;
    top: 78px;
    right: 30px;
    border: 2px silver solid;
}
span#password-label
{
    position: absolute;
    top: 135px;
    left: 20px;
    width: auto;
    height: 32px;
}
input#loginpassword
{
    position: absolute;
    top: 135px;
    left: 179px;
    width: 160px;
}

span#ftwizard-email-label
{
    position: absolute;
    top: 186px;
    left: 20px;
    width: 110px;
    height: 32px;
}
input#ftwizard-email
{
    position: absolute;
    top: 186px;
    left: 119px;
    width: 250px;
}

span#ftwizard-tname-label
{
    position: absolute;
    top: 135px;
    right: 134px;
    width: 140px;
    height: 32px;
}
input#ftwizard-tname
{
    position: absolute;
    top: 135px;
    left: 516px;
}

span#gender-label
{
    position: absolute;
    top: 190px;
    right: 134px;
    width: 140px;
    height: 32px;
}
input#male-radio
{
    position: absolute;
    top: 190px;
    left: 510px;
    width: 20px;
    height: 20px;
}
input#female-radio
{
    position: absolute;
    top: 190px;
    left: 600px;
    width: 20px;
    height: 20px;
}
div#male-icon-label
{
    position: absolute;
    top: 188px;
    left: 538px;
}
div#female-icon-label
{
    position: absolute;
    top: 188px;
    left: 628px;
}
div.icon-img-bg
{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
}
div.icon-img-bg img
{
    position: relative;
    top: 5px;
    left: 7px;
    width: 16px;
    height: 22px;
}
span#newft-theme-label
{
    position: absolute;
    top: 80px;
    left: 20px;
    width: auto;
}
select#newft-theme-select
{
    position: absolute;
    top: 80px;
    left: 180px;
    width: 120px;
}
/* PCodeAppDlg */
div#pcode-app-dlg
{
    position: relative;
    width: 100%;
    height: 100%;
}
span.pcad-input-label
{
    position: absolute;
    left: 10px;
    width: auto;
    height: 26px;
}
input.pcad-input
{
    position: absolute;
    left: 10px;
    width: auto;
    height: 26px;
}
span#pcad-email-label
{
    top: 10px;
}
input#pcad-email
{
    top: 36px;
    width: 320px;
}
span#pcad-location-label
{
    top: 10px;
    left: 350px;
}
input#pcad-location
{
    top: 36px;
    left: 350px;
    width: 435px;
}
span#pcad-how-label
{
    top: 100px;
}
input#pcad-how
{
    top: 125px;
    width: 775px;
}
div#pcad-information
{
    position: absolute;
    top: 180px;
    left: 10px;
    width: 97%;
    height: auto;
    background-color: #EDEDED;
}



