/*
 * Copyright (C) 2014 Adacro Inc. - All Rights Reserved
 */
/* the scrollable list body of info-board */
/**
 * <div.infos id='infos'> is the info pane, hosting left/right divs in it
 * only one of left/right can be shown - left: categories; right: contents
 * user-select mean if user can select text - here I say: none.
 */
div#infos {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 290px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url("../pics/cat-bg4.jpg");   
    background-repeat: no-repeat;
    background-size: cover; 
    
    -moz-user-select: none;     
    -webkit-user-select: none;
    user-select: none;
}

/**
 * cat-pane for showing categories as buttons
 */
div.left {
    background-repeat: no-repeat;
    background-size: cover; 
    width: 0px;
    height: 100%;
    position: relative;
    float: left;
    overflow: auto;
    padding: 0px;
    margin: 0px;
    align-content: center;
}

div.left .ui-button.ui-widget
{
    height: 32px;
    width: 96%;
    margin-left: 3px;
    margin-right: 0px;
    margin-top: 2px;
}

div.left .add-new-entry.ui-button.ui-widget
{
    background: #CCCCFF;
    height: 32px;
    width: 96%;
    margin-left: 3px;
    margin-right: 0px;
    margin-top: 2px;
}

/**
 * div.right shows the view-tree of the selected category(from div.left)
 * the styles about ul, li, a, input, label .. originated from (2013-04)
 * http://acidmartin.wordpress.com/2011/09/26/css3-treevew-no-javascript/
 * I made some modifications to suit my cases.
 */

div.right 
{
    position: relative;
    width: 0px;
    height: 100%;
    float: left;
    overflow: auto;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    color: darkblue;
    background-size: auto auto;   
}

div.right .new-entry-box
{
    background-color: #BDBDBD;
    position: relative;
    height: 30px;
    width: 90%;
    margin-left: 3px;
    margin-right: 0px;
    margin-top: 2px;
    border-width:3px;
    border-style: groove; 
}
div.right span.add-folder
{
    position: absolute;
    top: 1px;
    left: 3px;
    background: #BDBDBD;
    height: 28px;
    width: 47%;
}
div.right span.add-doc
{
    position: absolute;
    top: 1px;
    left: 110px;
    background: #BDBDBD;
    height: 28px;
    width: 47%;
}
div.right span img
{
    position: absolute;
    top: 2px;
    left:45px;
    width: 26px;
    height: 24px;
}

ul.right-pane
{
    padding-left: 8px;
    list-style: none;
    line-height: 28px;
}
li.right-pane
{
    padding-left: 8px;
    padding-top: 12px;
    list-style: none;
    line-height: 30px;
}
img.doc
{
    position: relative;
    top: 5px;
    left: 2px;
    width: 14px; 
    height: 16px;
}

/* item-box*/
div.itembox
{
    position: relative;
    height: 24px;
    cursor:pointer;
}
div.item-icon
{
    position: relative;
    left: 0px;
    top: 0px;
    width: 32px;
    height: 24px;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
div.item-icon img.keylock
{
    position: absolute;
    left: 10px;
    top: 6px;
    width: 12px;
    height: auto;
}

/* item icon on the left of every item-box */
img.item-icon
{
    position: absolute;
    top: 2px;
    left: 1px;
    max-width: 23px;
    max-height: 20px;
}
/* it.title, for D-type, containing a <a> */
span.item-title-box
{
    position: absolute;
    top: -3px;
    left: 28px;
    height: 22px;
    width: 169px;
    font-size: 18px;
}
span.item-title-box span.LS 
{
    position: relative;
    width: 100px;
    height: 22px;
}
li.td-thread
{
    position: relative;
    height: auto;
    width: 80%;
}
.td-thread div.title-line
{
    position: absolute;
    height: 24px;
    left: 0px;
    top: 0px;
    width: 100%;
}
.td-thread div.thread-body
{
    position: absolute;
    top: 22px;
}
