/**
 * button for switching languages, with a chosen flag as its face
 */
button.lang-trigger
{
    position: absolute;
    top: 9px;
    left: 5px;
    width: 46px;
    height: 28px;
    background-image: url('../pics/China.gif');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-style: solid;
    border-color: #3A0A0A;
    border-width: 1px;
}
div.body-frame
{
    position: relative;
    top: 60px;
    left: 0px;
    width: 100%;
    height: 600px;
    background-color: lightgray;
}
/* drop-down box with all flags for choosing languages */
div.list-container
{
    position: absolute;
    top: -4px;
    left: 4px;
    width: 145px;
    height: 759px;
    background-color: yellow;
    border: 1px solid lightblue;
    overflow: auto;
    overflow-x: hidden;
    z-index: 15;
}
div.list-container ul
{
    position: absolute;
    top: 0px;
    left: 0px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
li.country
{
    margin: 1px 1px 0px 1px;
    background-color: silver;
}
div.country-box
{
    position: relative;
    top: 0px;
    left: 0px;
    width: 141px;
    height:26px;
}
div.country-box img
{
    position: absolute;
    top: 1px;
    left: 0px;
    width: 40px;
    height: 24px;
}
div.country-box span.lang-name
{
    position: absolute;
    top: 6px;
    left: 46px;
    width: 90px;
    height: 23px;
    font-size: 13px;
}