/*
 * bulletin
 */
div#tab3
{
    position: relative;
    height: 100%;
    padding: 0px;
    /*
    background-image: url(../pics/chn-grid1.jpg);
    */
    background-repeat: no-repeat;
}
div#tab3-decore
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 100%;
    background-image: url(../pics/leftrim.jpg);
}
div#tab3n-box
{
    position: absolute;
    left: 61px;
}
.ui-tabs.ui-tabs-vertical {
    padding: 0;
    width: 100%;
    height: 100%;
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    margin-top: 0px;
    float: left;
    width: 152px;
    background: #CCC;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    margin: 0;
    border-width: 4px;
    border-style: solid;
    border-color: darkgray;
    overflow: hidden;
    position: relative;
    right: -2px;
    z-index: 2;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    background-size: 100% 100%, 100% 100%;
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}
li[aria-selected="true"]
{
    opacity: 1.0;
}
li[aria-selected="false"]
{
    opacity: 0.5;
}
div.bulletinPage
{
    position: absolute;
    top: 0px;
    left: 150px;
    height: 100%;
}
span.bulletin-label
{
    position: relative;
    height: 24px;
    width: auto;
    font-style: normal;
    font-size: 21px;
}
span#tab31-label
{
    top: 40%;
}
span#tab32-label
{
    top: 40%;
}
span#tab33-label
{
    top: 80%;
}
span#tab34-label
{
    top: 70%;
}
span#tab35-label
{
    top: 73%;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0.2em;
    padding-bottom: 0;
    border-right: 1px solid white;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    margin-bottom: 10px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: 28em;
    border-left: 1px solid gray;
    border-radius: 0;
    position: relative;
    left: -1px;
}
/*
 * forum
 */
div#tab4
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px;
    background-image: url(../pics/chn-grid1.jpg);
    background-repeat: repeat;    
}
div#tab4box
{
    position: absolute;
    top: 5px;
    left: 50px;
    width: 90%;
    height: 100%;
    background-image: url(../pics/antique-columns-bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 4px solid #E0ECF8; 
}
div#forum-title-box
{
    position: absolute;
    top: 0px;
    left:  26%;
    width: 560px;
    height: 132px;
    background-image: url(../pics/forum-title1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
span#forum-title
{
    position: absolute;
    top: 60px;
    left: 15%;
    width: auto;
    font-style: normal;
    font-size: 23px;
    font-stretch: extra-expanded;
    font-weight: bold;
}
div#forum-board
{
    position: absolute;
    top: 124px;
    left: 14%;
    width: 66%;
    height: 730px;
    overflow-y: auto;
    border: 2px solid gray;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 20px;
}
div#tab4box img#thinker
{
    position: absolute;
    top: 37px;
    left: 21%;
    width: 46px;
    height: 67px;
}
div#tab4box img#compass
{
    position: absolute;
    top: 41px;
    left: 74%;
    width: 65px;
    height: 65px;
}
/*
 * about MemoryWhisper
 */
div#tab5
{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: darkgray;
    overflow: hidden;
}
/**
 * variable width, on the left side in tab5. displays the content of 
 * a Landing Page - LP is rendered here inside.
 */
div.lp-tab
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%; 
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
/**
 * upper part of lp page
 */
div.lp-showpane
{
    position: absolute;
    top: 1px;
    left: 1px;
    /* width and height will be set by js */
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(../pics/giphy1.gif);
    background-size: 100% 100%;
    border: 2px white solid;
    overflow-y: auto; 
    z-index: 1;
}
div.lp-showpane audio
{
    position: absolute;
    top: 80px;
    right: 130px;
    width: 300px;
    height: 12px;
    z-index: 5;
}
div.lp-showpane div
{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 88% 100%;
}
div.lp-showpane div.show-middle
{
    left: 0px;
    height: 100%;
}
h2.example-ft
{
    width: 100%;
    margin-left: 30px;
    /* text-align: center; */
    color: white;
}
div.lp-showpane div.lp-text
{
    position: relative;
    margin-top: 30px;
    margin-left: auto;   /* set both margin-left and -right */
    margin-right: auto;  /* to be auto, makes <p> centered  */
    padding-right: 8px; 
    padding-left: 10px;
    width: 80%;
    height: auto;
    background-color: hsl(0, 6%, 18%);
    opacity: 0.7;
    font-size: 25px;
    line-height: 32px;
    color: white;
    border-width: 4px;
    border-style: solid;
    border-color: #807A7A;
    border-radius: 8px; 
}
div.lp-text h4
{
    text-align: center;
    margin: 12px;
    margin-bottom: -8px;
}
p.lp100-small
{
    font-size: 16px;
    line-height: 19px;
}
img#raymondwei
{
    width: 100px;
    height: 120px;
    float: left;
    margin-top: 34px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 20px;
    border: solid 6px white;
}
div.lpitem
{
    margin: 5px;
    margin-left: 15px;
    padding: 5px;
    padding-left: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    width: 90%;
    height: 26px;
    border: solid 2px black;
    background-color: rgb(44, 17, 17);
    cursor: pointer;
}
div.lpitem-highlight
{
    position: relative;
    margin: 5px;
    padding: 5px;
    padding-left: 15px;
    background-color: rgb(131, 20, 20);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    border: solid 2px darkblue;
    cursor: pointer;
}
img.lpitem
{
    position: absolute;
    right: 4px;
    top: 5px;
    width: 26px;
    height: 30px;
}
div.lp-showpane div.show-left
{
    left: 0px; /* grow from left side when animate width */
    width: 0px;
}
div.lp-showpane div.show-right
{
    right: 0px;/* grow from right side when animate width */
    width: 0px;
}
video#mw-video-player
{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%); 
    object-fit: cover;
}
img.lp-media-button
{
    position: absolute;
    right: 47%;
    bottom: 65px;
    width: 100px;
    height: 100px;
    border: 0px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 5;    
}
div.lp-tab span.lp-vtimer
{
    position: absolute;
    bottom: 80px;
    right: 50px;
    width: 100px;
    height: 24px;
    background-color: rgb(73, 66, 66);
    opacity: 0.5;
    color: rgb(226, 223, 223);
    font-size: 16px;
    z-index: 5;
}
div.lp-audio-contrl
{
    position: absolute;
    top: 5px;
    right: 8px;
    width: 100px;
    height: 55px;
    opacity: 0.6;
}
#lp-audio-play, #lp-audio-pause 
{
    position: absolute;
    top: 8px;
    left: 3px;
    width: 45px;
    height: 45px;
    background-image: url(../pics/pause-button.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
}
#lp-audio-plus
{
    position: absolute;
    top: 6px;
    right: 10px;
    width: 12px;
    height: 12px;
    background-image: url(../pics/plus.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
}
#lp-audio-vol
{
    position: absolute;
    top: 14px;
    left: 70px;
    width: 20px;
    height: 0.7em;
    font-size: 0.5em;
    color: white;
}
#lp-audio-minus
{
    position: absolute;
    top: 42px;
    right: 10px;
    width: 12px;
    height: 12px;
    background-image: url(../pics/minus.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
}
div.lp-tab img.show-next
{
    position: absolute;
    right: 20px;
    bottom: 220px;
    width: 50px;
    height: 70px;
    border: 0;
    opacity: 0.8;
    cursor: pointer;
    z-index: 5;
}
div.lp-tab img.show-prev
{
    position: absolute;
    left: 10px;
    bottom: 220px;
    width: 50px;
    height: 70px;
    border: 0;
    opacity: 0.8;
    cursor: pointer;
    z-index: 5;
}
div.lp-msgpane
{
    position: absolute;
    bottom: 1px;
    left: 1px;
    height: 43px;
    width: 95%;
    background-color: silver;
    border: 2px gray solid;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    color: #570606;
    font-size: 14px;
}
div.lp-info
{
    position: absolute;
    bottom: 3px;
    height: 55px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
    width: 88%;
    border: 2px black solid;
    border-radius: 6px;
    opacity: 0.8;
    font-size: 1.1em;
    background-color: #A59A72;
    color: #1E1E27;
}
div.lp100-navbox
{
    margin: 20px;
    padding: 4px;
    padding-left: 40px;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(56, 49, 73);
    border: solid 1px black;
}
div.lp100-navbox span
{
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px;
    padding-left: 21px;
    padding-right: 21px;
    font-size: 0.7em;
    font-weight: bold;
    border-radius: 2px;
    height: 34px;
    min-width: 100px;
    background-color: rgb(171, 172, 177);
    color: rgb(25, 26, 24);
    cursor: pointer;
}
div.lp-showpane a div.links
{
    position: relative;
    margin-top: 6px;
    margin-bottom: 3px;
    margin-left: 20px;
    height: 52px;
    width: 80%;
    border: 2px gold solid;
    border-radius: 8px;
    background-color: #B3A9A9;
    opacity: 0.7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
}
div.lp-showpane a
{
    text-decoration: none;
}
div.links span.lp200-title
{
    font-size: 26px;
    margin-top: 22px;
    margin-left: 20px;
    color: #0C0C0C;
}
div.links span.lp200-url
{
    font-size: 12px;
    color: darkblue;
    margin-bottom: 10px;
    margin-left: 25px;
}
/* pictures describing how-to steps, embedded in fc.entdict-lc pages */
div#lp300-steps-root
{
    width: 100%;
    height: auto;
}
#lp300-steps-root div.lp300-steps
{
    border: 2px solid silver;
    width: 95%;
    background-color: #E5E5E5;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    margin: 20px;
}
div.lp300-steps-pagetitle
{
    width: 80%;
    margin-top: 4px;
    margin-left: 20px;
    height: 26px;
    border-radius: 5px;
    border: 2px solid white;
    background-color: silver;
    color: darkblue;
    padding: 10px;
    font-weight: bold;
    font-size: 22px;
}
div#lp300-01en0
{
    background-image: url(/blobs/FTSUPER/lp300-01en0.jpg);
    height: 320px;
}
div#lp300-01en1
{
    background-image: url(/blobs/FTSUPER/lp300-01en1.jpg);
    height: 420px;
}
div#lp300-01en2
{
    background-image: url(/blobs/FTSUPER/lp300-01en2.jpg);
    height: 850px;
}
div#lp300-01en3
{
    background-image: url(/blobs/FTSUPER/lp300-01en3.jpg);
    height: 880px;
}
div#lp300-01en4
{
    background-image: url(/blobs/FTSUPER/lp300-01en4.jpg);
    height: 900px;
}
div#lp300-01zh0
{
    background-image: url(/blobs/FTSUPER/lp300-01zh0.jpg);
    height: 320px;
}
div#lp300-01zh1
{
    background-image: url(/blobs/FTSUPER/lp300-01zh1.jpg);
    height: 420px;
}
div#lp300-01zh2
{
    background-image: url(/blobs/FTSUPER/lp300-01zh2.jpg);
    height: 850px;
}
div#lp300-01zh3
{
    background-image: url(/blobs/FTSUPER/lp300-01zh3.jpg);
    height: 880px;
}
div#lp300-01zh4
{
    background-image: url(/blobs/FTSUPER/lp300-01zh4.jpg);
    height: 900px;
}
/* -------------- lp300-02 ----------------------------------*/
div#lp300-02en1
{
    background-image: url(/blobs/FTSUPER/lp300-02en1.jpg);
    height: 850px;
}
div#lp300-02en2
{
    background-image: url(/blobs/FTSUPER/lp300-02en2.jpg);
    height: 850px;
}
div#lp300-02en3
{
    background-image: url(/blobs/FTSUPER/lp300-02en3.jpg);
    height: 400px;
}
div#lp300-02en4
{
    background-image: url(/blobs/FTSUPER/lp300-02en4.jpg);
    height: 900px;
}
div#lp300-02en5
{
    background-image: url(/blobs/FTSUPER/lp300-02en5.jpg);
    height: 900px;
}
div#lp300-02zh1
{
    background-image: url(/blobs/FTSUPER/lp300-02zh1.jpg);
    height: 850px;
}
div#lp300-02zh2
{
    background-image: url(/blobs/FTSUPER/lp300-02zh2.jpg);
    height: 850px;
}
div#lp300-02zh3
{
    background-image: url(/blobs/FTSUPER/lp300-02zh3.jpg);
    height: 420px;
}
div#lp300-02zh4
{
    background-image: url(/blobs/FTSUPER/lp300-02zh4.jpg);
    height: 900px;
}
div#lp300-02zh5
{
    background-image: url(/blobs/FTSUPER/lp300-02zh5.jpg);
    height: 900px;
}
/* -------------- lp300-03 ----------------------------------*/
div#lp300-03en1
{
    background-image: url(/blobs/FTSUPER/lp300-03en1.jpg);
    height: 420px;
}
div#lp300-03en2
{
    background-image: url(/blobs/FTSUPER/lp300-03en2.jpg);
    height: 420px;
}
div#lp300-03en3
{
    background-image: url(/blobs/FTSUPER/lp300-03en3.jpg);
    height: 900px;
}
div#lp300-03en4
{
    background-image: url(/blobs/FTSUPER/lp300-03en4.jpg);
    height: 420px;
}
div#lp300-03en5
{
    background-image: url(/blobs/FTSUPER/lp300-03en5.jpg);
    height: 900px;
}
div#lp300-03en6
{
    background-image: url(/blobs/FTSUPER/lp300-03en6.jpg);
    height: 420px;
}
div#lp300-03en7
{
    background-image: url(/blobs/FTSUPER/lp300-03en7.jpg);
    height: 900px;
}
div#lp300-03en8
{
    background-image: url(/blobs/FTSUPER/lp300-03en8.jpg);
    height: 420px;
}
div#lp300-03zh1
{
    background-image: url(/blobs/FTSUPER/lp300-03zh1.jpg);
    height: 420px;
}
div#lp300-03zh2
{
    background-image: url(/blobs/FTSUPER/lp300-03zh2.jpg);
    height: 420px;
}
div#lp300-03zh3
{
    background-image: url(/blobs/FTSUPER/lp300-03zh3.jpg);
    height: 900px;
}
div#lp300-03zh4
{
    background-image: url(/blobs/FTSUPER/lp300-03zh4.jpg);
    height: 420px;
}
div#lp300-03zh5
{
    background-image: url(/blobs/FTSUPER/lp300-03zh5.jpg);
    height: 900px;
}
div#lp300-03zh6
{
    background-image: url(/blobs/FTSUPER/lp300-03zh6.jpg);
    height: 420px;
}
div#lp300-03zh7
{
    background-image: url(/blobs/FTSUPER/lp300-03zh7.jpg);
    height: 900px;
}
div#lp300-03zh8
{
    background-image: url(/blobs/FTSUPER/lp300-03zh8.jpg);
    height: 420px;
}
/* -------------------- lp300 4 begin -----------------------  */
div#lp300-04en1
{
    background-image: url(/blobs/FTSUPER/lp300-04en1.jpg);
    height: 420px;
}
div#lp300-04en2
{
    background-image: url(/blobs/FTSUPER/lp300-04en2.jpg);
    height: 850px;
}
div#lp300-04en3
{
    background-image: url(/blobs/FTSUPER/lp300-04en3.jpg);
    height: 460px;
}
div#lp300-04en4
{
    background-image: url(/blobs/FTSUPER/lp300-04en4.jpg);
    height: 420px;
}
div#lp300-04zh1
{
    background-image: url(/blobs/FTSUPER/lp300-04zh1.jpg);
    height: 460px;
}
div#lp300-04zh2
{
    background-image: url(/blobs/FTSUPER/lp300-04zh2.jpg);
    height: 900px;
}
div#lp300-04zh3
{
    background-image: url(/blobs/FTSUPER/lp300-04zh3.jpg);
    height: 880px;
}
div#lp300-04zh4
{
    background-image: url(/blobs/FTSUPER/lp300-04zh4.jpg);
    height: 460px;
}
/* ---------------- lp300 4 end  ------------------------ */
/* -------------------- lp300 5 begin -----------------------  */
div#lp300-05en1
{
    background-image: url(/blobs/FTSUPER/lp300-05en1.jpg);
    height: 430px;
}
div#lp300-05en2
{
    background-image: url(/blobs/FTSUPER/lp300-05en2.jpg);
    height: 850px;
}
div#lp300-05en3
{
    background-image: url(/blobs/FTSUPER/lp300-05en3.jpg);
    height: 820px;
}
div#lp300-05zh1
{
    background-image: url(/blobs/FTSUPER/lp300-05zh1.jpg);
    height: 430px;
}
div#lp300-05zh2
{
    background-image: url(/blobs/FTSUPER/lp300-05zh2.jpg);
    height: 850px;
}
div#lp300-05zh3
{
    background-image: url(/blobs/FTSUPER/lp300-05zh3.jpg);
    height: 820px;
}
/* ---------------- lp300 5 end  ------------------------ */
/* -------------------- lp300 6 begin -----------------------  */
div#lp300-06en1
{
    background-image: url(/blobs/FTSUPER/lp300-06en1.jpg);
    height: 360px;
}
div#lp300-06en2
{
    background-image: url(/blobs/FTSUPER/lp300-06en2.jpg);
    height: 360px;
}
div#lp300-06en3
{
    background-image: url(/blobs/FTSUPER/lp300-06en3.jpg);
    height: 630px;
}
div#lp300-06en4
{
    background-image: url(/blobs/FTSUPER/lp300-06en4.jpg);
    height: 710px;
}
div#lp300-06en5
{
    background-image: url(/blobs/FTSUPER/lp300-06en5.jpg);
    height: 340px;
}
div#lp300-06zh1
{
    background-image: url(/blobs/FTSUPER/lp300-06zh1.jpg);
    height: 500px;
}
div#lp300-06zh2
{
    background-image: url(/blobs/FTSUPER/lp300-06zh2.jpg);
    height: 420px;
}
div#lp300-06zh3
{
    background-image: url(/blobs/FTSUPER/lp300-06zh3.jpg);
    height: 800px;
}
div#lp300-06zh4
{
    background-image: url(/blobs/FTSUPER/lp300-06zh4.jpg);
    height: 720px;
}
div#lp300-06zh5
{
    background-image: url(/blobs/FTSUPER/lp300-06zh5.jpg);
    height: 410px;
}
/* ---------------- lp300 5 end  ------------------------ */



div#lp400 /* Issues & discussions */
{
    background-image: url(../pics/event2.jpg);
    background-repeat: repeat;
}
div#lp500 /* Personal account */
{
    background-image: url(../pics/antique.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
div.lp-tab img
{
    height: 100px;
    width: auto;
    border:2px solid white;
}
div.lp-tab p.disclaimer
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: darkred;
    background-color: silver;
}
ul.forum-ul
{
    list-style-type: none;
    position: relative;
    left: -15px;
    top: -2px;;
}
li.forum-li
{
    position: relative;
    top: -1px;
    left: -14px;
    width: 100%;
    height: auto;
}
div.forum-folder
{
    position: relative;
    height: 30px;
    width: auto;
    cursor: pointer;
    /*
    background-color: beige;
    */
}
img.forum-folder-icon
{
    position: absolute;
    left: 3px;
    top: -3px;
    width: auto;
    height: 32px;
}
span.forum-title
{
    position: absolute;
    left: 4px;
    bottom: 4px;
    height: 24px;
    width: auto;
}
div.forum-add-item-button
{
    position: absolute;
    right: 8px;
    top: 5px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-image: url(../pics/plus.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
div.td-dlg
{
    position: relative;
    width: 100%;
    height: 500px;
}
span#td-title-label
{
    position: absolute;
    left: 4px;
    top: 2px;
    height: 24px;
    font-size: 20px;
}
span#td-author-label
{
    position: absolute;
    left: 4px;
    top: 30px;
    height: 24px;
    font-size: 20px;
}
input#td-title-input
{
    position: absolute;
    top: 2px;
    left: 240px;
    width: 350px;
}
input#td-author-input
{
    position: absolute;
    top: 30px;
    left: 240px;
    width: 140px;
}
div#td-text
{
    position: absolute;
    top: 60px;
    left: 2px;
    width: 99%;
    height: 450px;
    border: 1px black solid;
}
/**
 * container box for tdline-box, and optional content-div-box
 */
div.tdline
{
    position: relative;
    width: 100%;
    height: auto;
}
/**
 * container box for td-line-icon, td-title, feedbacks, author
 */
div.tdline-box
{
    position: relative;
    width: 100%;
    height: 26px;
    cursor: pointer;
}
/* left-most containee of tdline-box */
div.tdline-index
{
    position: absolute;
    top: 5px;
    left: -5px;
    width: 15px;
    height: 10px;
    background-color: #eee;
    font-size: 9px;
    padding-left: 1px;
    padding-top: 1px;
    text-align: center;
    color: darkblue;
    border-radius: 3px;
}
/* 2nd left-most containee of tdline-box */
div.tdline-title
{
    position: absolute;
    top: 1px;
    left: 18px;
    width: 480px;
    height: 24px;
    font-size: 18px;
}
div.followup-box
{
    position: relative;
    bottom: 1px;
    left: 3px;
    width: 320px;
    height: 27px;
    opacity: 0.8;
    margin-top: 10px;
    background-color: beige;
    border-radius: 3px;
}
div.thumbup
{
    position: absolute;
    top: 2px;
    left: 6px;
    width: 20px;
    height: 20px;
    background-image: url(../pics/thumbup.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
span.thumbup-count
{
    position: absolute;
    top: 8px;
    left: 30px;
    width: auto;
    height: 10px;
    font-size: 10px;
}
div.thumbdown
{
    position: absolute;
    top: 6px;
    left: 48px;
    width: 20px;
    height: 20px;    
    background-image: url(../pics/thumbdown.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
span.thumbdown-count
{
    position: absolute;
    top: 8px;
    left: 73px;
    width: auto;
    height: 10px;
    font-size: 10px;    
}
div.followup
{
    position: absolute;
    top: 6px;
    left: 95px;
    width: 20px;
    height: 20px;    
    background-image: url(../pics/add-coment.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
span.followup-count
{
    position: absolute;
    top: 8px;
    left: 120px;
    width: auto;
    height: 10px;
    font-size: 10px;    
}
span.td-ISO-ts
{
    position: absolute;
    top: 5px;
    right: 6px;
    text-align: right;
    font-size: 14px;
    width: 140px;
    height: auto;
}
/* right-most containee of tdline-box */
div.tdline-author
{
    position: absolute;
    top: 1px;
    right: 1px;
    width: 110px;
    height: 24px;
    overflow-x: none;
    text-align: right;
    font-size: 14px;
}
div.td-content
{
    position: relative;
    top: 0px;
    left: 1px;
    width: 100%;
    height: auto;
    font-size: 18px;
    padding: 5px;
    border: 1px white solid;
    border-radius: 5px;
    background-color: #E0ECF8;
    margin-bottom: 9px;
}
div.feedback-list-head /* fblh contains tdline-icon + fblh-text*/
{
    position: relative;
    left: 7px;
    width: 100%;
    height: 22px;
    cursor: pointer;
}
div.tdline-icon
{
    position: absolute;
    left: 2px;
    top: 2px;
    width: 14px;
    height: 14px;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
span.fblh-text
{
    position: absolute;
    top: -1px;
    left: 22px;
    font-size: 16px;
    color: darkblue;
}
div.td-feedback-text
{
    position: relative;
    top: 0px;
    left: 10px;
    width: 97%;
    height: auto;
    font-size: 18px;
    color: darkblue;
    padding: 5px;
    border: 1px darkblue solid;
    border-radius: 5px;
    background-color: #E1E2DD;
    margin-bottom: 9px;
}
div#access-code-bg
{
    position: absolute;
    top: 80px;
    left: 40px;
    width: 80%;
    height: 440px;
    background-image: url(../pics/antique.jpg);
}
div#access-code-box
{
    position: relative;
    top: 157px;
    left: 64px;
    width: 570px;
    height: 110px;
    border: 4px solid silver;
    border-radius: 20px;
    background-color: rgb(177, 177, 159);
}
span#access-code-label
{
    position: absolute;
    font-size: 22px;
    top: 10px;
    left: 20px;
    height: 25px;
}
input#access-code
{
    position: absolute;
    top: 42px;
    left: 20px;
    width: 520px;
    height: 25px;
    font-size: 13px;
    background-color: pink;
}
button#code-submit
{
    position: absolute;
    top: 81px;
    right: 28px;
    border-radius: 2px;
}
button#code-cancel
{
    position: absolute;
    top: 81px;
    right: 88px;
    border-radius: 2px;
}
button#new-ft
{
    position: absolute;
    bottom: 12%;
    left: 400px;
    width: 205px;
    height: 30px;
    background-color: gray;
    border-radius: 5px;
}
