/*
 * Copyright (C) 2014 Adacro Inc. - All Rights Reserved
 */
/** ---------------------------------------------------------------------------
 * pav.css
 * -------
 * css definitions for pa-viewmodel PAV
 -----------------------------------------------------------------------------*/
/** ------------
 * div with big radius so it becomes a circle representing anchor-circle 
 */
div.anchor{
    width: 14px;
    height: 14px;
    position: absolute;
    left: -8px;
    top: 9px;
    z-index: 10;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: Black;
    background-color: #C8BBBE;
    cursor: pointer;
}
div.anchor-plus{
    width: 14px;
    height: 14px;
    position: absolute;
    left: -8px;
    top: 9px;
    z-index: 10;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: Black;
    background-image: url(../pics/plus_anchor.png);
    background-size: 100% 100%, 100% 100%;    
    cursor: pointer;
}
div.anchor-minus{
    width: 14px;
    height: 14px;
    position: absolute;
    left: -8px;
    top: 9px;
    z-index: 10;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: Black;
    background-image: url(../pics/minus_anchor.png);
    background-size: 100% 100%, 100% 100%;    
    cursor: pointer;
}
div.adopt-in{
    width: 13px;
    height: 13px;
    position: absolute;
    left: -7px;
    top: -9px;
    z-index: 10;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: Black;
    background-image: url(../pics/adopt-in.png);
    background-size: 100% 100%, 100% 100%;    
    cursor: pointer;
}
div.adopt-out{
    width: 13px;
    height: 13px;
    position: absolute;
    left: -7px;
    top: -9px;
    z-index: 10;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: Black;
    background-image: url(../pics/adopt-out.png);
    background-size: 100% 100%, 100% 100%;    
    cursor: pointer;
}
/** ------------
 * act-icon in div.pv, within/over(z-index=10) name-box
 */
img.pvact {
    width: 48px;
    height: 52px;
    position: absolute;
    left: 106px;
    top: -8px;
    cursor: pointer;
}
div img.male-love
{
    position: absolute;
    left: 26px;
    width: 63px;
    height: 30px;
    cursor: pointer;
}
div img.female-love
{
    position: absolute;
    left: 26px;
    width: 63px;
    height: 30px;
    cursor: pointer;
    /*
    z-index: 10;
    */
}
div img.love-narrow
{
    position: absolute;
    left: 34px;
    width: 36px;
    height: 36px;
    cursor: pointer;
}
/** ------------
 * pav div containing icon/img, name-box, act icon, anchor-circle
 */
div.pv {
    position: absolute;
    width: 145px;
    height: 34px;
    padding: 0px;
    margin: 0px;
    background-color: #F2FFFF;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 1px;
    border-color: #3366FF;
    cursor: pointer;
}
/* relawizard pv-tag begin */
div.pv-bg
{
    position: absolute;
    width: 145px;
    height: 34px;
    background-image: url(../pics/goldtag.png);
    background-size: 100% 100%, 100% 100%;
    display: table-cell;
    vertical-align: middle;
}
div.pv-bg img
{
    position: absolute;
    top: 5px;
    left: 12px;
    width: 14px;
    height: 26px;
}
div.rela-icon
{
    position: absolute;
    top: -5px;
    width: 32px;
    height: 22px;
    background-image: url(../pics/spouses-icon.png);
    background-size: 100% 100%, 100% 100%;
    display: table-cell;
    vertical-align: middle;
    z-index: 100;
}
/* relawizard pv-tag end */
div.name-tag-bg
{
    position: absolute;
    width: 145px;
    height: 34px;
    background-size: 100% 100%, 100% 100%;
    display: table-cell;
    vertical-align: middle;
}
div.male-bg
{
    background-image: url(../pics/goldtag.png);
    box-shadow: 0px 0px 4px 1px #32C7F4;
    cursor: pointer;
}
div.female-bg
{
    background-image: url(../pics/goldtag.png);
    box-shadow: 0px 0px 4px 1px #EE62D2;
    cursor: pointer;
}
div.dead-male-bg
{
    background-image: url(../pics/goldtag.png);
    box-shadow: 0px 0px 4px 1px #1171F7;
    cursor: pointer;
}
div.dead-female-bg
{
    background-image: url(../pics/goldtag.png);
    box-shadow: 0px 0px 4px 1px #B22530;
    cursor: pointer;
}
div.male-bg-glow
{
    background-image: url(../pics/goldtag.png);
    box-shadow: 0px 0px 6px 6px #32C7F4;
}
div.female-bg-glow
{
    background-image: url(../pics/goldtag.png);
    box-shadow: 0px 0px 6px 6px #EE62D2;
}
div.dead-male-bg-glow
{
    background-image: url(../pics/goldtag.png);
    box-shadow: 0px 0px 6px 6px  #1171F7;
}
div.dead-female-bg-glow
{
    background-image: url(../pics/goldtag.png);
    box-shadow: 0px 0px 6px 6px  #B22530;
}
div img.head
{
    position: relative;
    top: 5px;
    left: 11px;
    width: 14px;
    height: 26px;
    cursor: pointer;
}
div span.fullname
{
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    margin-left: 30px;
    margin-top: 9px;
    cursor: pointer;
}


/**
 * BA css
 */
div.bv-gold
{
    position: absolute;
    width: 20px;
    height: 28px;
    background-image: url(../pics/vring.png);
    background-size: 100% 100%, 100% 100%;
    display: table-cell;
    vertical-align: middle;
}
img.bvact {
    width: 40px;
    height: 34px;
    position: absolute;
    left: 14px;
    top: -3px;
    z-index: 10;
    cursor: pointer;
}

div.sgrp-navel
{
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-image: url(../pics/plus.png);
    background-size: 100% 100%, 100% 100%;
    display: table-cell;
    border: solid thin white;
    cursor: pointer;
}
div.sgrp-navel span
{
    position: absolute;
    top: -5px;
    left:0px;
    width: 8px;
    height: 8px;
}
