/*
 * Copyright (C) 2014 Adacro Inc. - All Rights Reserved
 */
/* -----------------------------------------------------------------------------
 * person-pane: on the right side of the mw-body.
 *  synop + cat_selectbar + infos
 * ---------------------------------------------------------------------------*/
div#person_pane {
  position: absolute;
  top: 92px; /* relative to body_container */
  right: 0px;
  width: 0px;
  height: 100%;
  background-color: darkblue;
  z-index: 12;
}
/* synop div contains portait and synopbox with 4 lines of person-summary */
div#synop {
  position: absolute; /* relative to person_pane(absolute) */
  top: 0px; /* top of person_pane                */
  right: 0px; /* left aligned to person_pane       */
  width: 290px;
  height: 110px;
  background-color: beige;
  z-index: 15;
}
/* Want to have span text center-aligned. could use <span align='center' 
 * but align as attr is deprecated. SO I use div with text-align
 */
/* taking 26 px from top (0) down. offset: 26 */
div#info-line1 {
  line-height: 28px;
  height: 28px;
  font-size: 16px;
}
/* taking 16px from top(26) down. offset: 42 */
div#info-line2 {
  margin-top: 3px;
  order: 2;
  font-size: 9px;
}
/* taking 22px from top(42) down. offset: 64 */
div#info-line3 {
  order: 3;
  font-size: 11px;
}
/* taking 16px from top(64) down. offset: 80 */
div#info-line4 {
  order: 4;
  margin-top: 7px;
  font-size: 9px;
}
/* taking 22 px from top(80) down. offset: 102 */
div#info-line5 {
  order: 5;
  font-size: 11px;
}

div#synopbox {
  /* contained in div#synop           */
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 107px;
  background-image: url(../pics/synop-bg.jpg);
  background-size: 100% 100%, 100% 100%;
  border-width: 2px;
  border-style: groove;
  padding: 0px;
}
div#synopintro {
  width: 78.5%;
  height: 50%;
  padding: 10%;

  font-family: Georgia;
  font-size: 20px;
  background-image: url(../pics/synop-bg.jpg);
  background-size: 100% 100%, 100% 100%;
  border: 2px solid silver;
}

/* portrait picture frame on the left of synop */
div#picframe {
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: 100% 100%, 100% 100%;
  background-image: url(../pics/frame104.png);
  width: 91px;
  height: 111px;
  margin: 0px;
  cursor: pointer;
  z-index: 10;
}
div#portrait_box {
  position: absolute;
  top: 7%;
  left: 8%;
  width: 84%;
  height: 87%;
}
img#portrait {
  /* contained in portrait_box     */
  width: 100%; /* 100% of portrait_box          */
  height: 100%; /* 100% of portrait_box          */
}

img#edit_synop {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 79px;
  right: 2px;
  opacity: 1;
  cursor: pointer;
  z-index: 10;
}
div#ppane-slide-button {
  position: absolute;
  top: 110px;
  left: 0px;
  width: 290px;
  height: 28px;
  opacity: 1;
  visibility: hidden;
  cursor: pointer;
  opacity: 0.1;
  z-index: 10;
}
div#parchive-title {
  position: absolute;
  top: 110px;
  left: 0px;
  width: 290px;
  height: 28px;
  background-image: url("../pics/iron-bar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 5px;
}
span#parchive-title-text {
  font-size: 18px;
  font-weight: bold;
}
/**
 * green left arrow icon for going back to cat(div.left)
 * this img sits on the left side of infos-title bar when
 * div.right is shown.
 */
div#parchive-title img {
  position: absolute;
  top: 3px;
  width: 26px;
  height: 29px;
  cursor: pointer;
}
div#parchive-title img#back2left {
  left: 2px;
}

/* -------------------------------------------------------------------------- */
/* end of synop eidt dialog box
/* -----------------------------------
/* used in static/dlgs/synopedit.html
/* -------------------------------------------------------------------------- */

/**
 * nutshell slide out divs. the next absolute positioned parent 
 * is person_pane. This div's absolute is relative to that then.
 * slide1 is a stick stretching out left-wards, when stretch done,
 * it striggers slide2 to start rolling down
 */
div.slide1 {
  position: absolute;
  top: 95px;
  left: -130px;
  width: 310px;
  height: 3px;
  background-color: silver;
}
/**
 * contains upper div: title and close button;
 * down div: nutshell content with possible vertical scrollbar
 */
div.slide2 {
  position: absolute;
  top: 96px;
  left: -380px;
  width: 510px;
  height: 470px;
  background-color: #846363;
  z-index: 20;
}
div.slide2 div.upper {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 485px;
  height: 26px;
  background-color: #ddd;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid thin silver;
  border-radius: 3px;
}

div.slide2 div.lower {
  position: absolute;
  top: 33px;
  left: 2px;
  width: 494px;
  height: 423px;
  overflow: auto;
  border: solid thin silver;
  border-radius: 5px;
  background-color: beige;
  padding: 5px;
  line-height: 24px;
  white-space: pre-wrap;
}
button.sld-close {
  position: absolute;
  top: 1px;
  right: 10px;
  width: 60px;
  height: 26px;
}
/**
 * div styles for dialog (addentry.html): add entry in infos.right
 */
div.add-entry-div {
  position: relative;
  width: 100%;
  height: 100%;
}
img.language-picker {
  width: 34px;
  height: 24px;
}
div.add-entry-div span#add-entry-name-label {
  position: absolute;
  top: 20px;
  left: 5px;
}
div.add-entry-div input#add-entry-name {
  position: absolute;
  top: 20px;
  left: 130px;
  width: 300px;
}
div.add-entry-div span#pk-label {
  position: absolute;
  top: 97px;
  left: 5px;
}
div#folder-pk-icon {
  position: relative;
  width: 40px;
  height: 32px;
  left: 320px;
  top: 83px;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
div#folder-pk-icon img#lock-icon {
  position: absolute;
  top: 8px;
  left: 14px;
  width: 16px;
  height: 16px;
}
div#doc-iw-info {
  position: relative;
  top: 50px;
  left: 0px;
  width: 430px;
  height: 148px;
}
div#doc-introduction {
  position: absolute;
  padding: 5px;
  top: 5px;
  left: 110px;
  width: 340px;
  height: 120px;
  background-color: #cdcdcd;
  border: 1px solid;
  border-radius: 5px;
}
img#docicon-on-iw {
  position: absolute;
  left: 2px;
  top: 30px;
  width: 45px;
  height: 60px;
}
div.add-entry-div select#add-entry-pk {
  position: absolute;
  top: 95px;
  left: 130px;
  height: 24px;
}
div.add-entry-div span#add-entry-descr-label {
  position: absolute;
  top: 58px;
  left: 5px;
}
div.add-entry-div input#add-entry-descr {
  position: absolute;
  top: 58px;
  left: 130px;
  width: 460px;
}
div.add-entry-div span#pwd-label {
  position: absolute;
  top: 136px;
  left: 5px;
  width: auto;
}
div.add-entry-div input#entry-password {
  position: absolute;
  top: 134px;
  left: 130px;
  width: 114px;
}
span#share-url {
  position: absolute;
  top: 274px;
  left: 12px;
  font-size: 14px;
}
span#share-url-label {
  position: absolute;
  top: 254px;
  left: 7px;
}
div.add-entry-div span#pwd-expire-label {
  position: absolute;
  top: 128px;
  left: 130px;
}
div.add-entry-div input#pwd-expire-date {
  position: absolute;
  top: 171px;
  left: 7px;
  width: 240px;
}
div.add-entry-div span#postpk-label {
  position: absolute;
  top: 216px;
  left: 140px;
}
div.add-entry-div select#sel-postpk {
  position: absolute;
  top: 214px;
  left: 7px;
  width: 114px;
}

div#private-fa {
  position: relative;
  width: 100%;
  height: 100%;
}
span#pcode-label {
  position: absolute;
  top: 6px;
  left: 10px;
}
input#pcode-input {
  position: absolute;
  width: 330px;
  top: 32px;
  left: 10px;
}
/* item password checking dialog */
div.pwd-popup {
  position: relative;
  width: 100%;
  height: 100%;
}
div.pwd-popup span {
  position: absolute;
  top: 5px;
  left: 5px;
  width: auto;
}
div.pwd-popup input {
  position: absolute;
  top: 30px;
  left: 5px;
  width: 120px;
}
