﻿/*-------------- search dialog begin */
div#search-dlg
{
    position: relative;
    width: 320px;
    height: 580px; 
}
div#search-dlg img#s-button
{
    position: absolute;
    top: 1px;
    left: 1x;
    max-width: 40px;
    max-height: 40px;
}
div#search-dlg input
{
    position: absolute;
    top: 5px;
    left: 80px;
    width: 233px;
}
div#relation-start
{
    position: absolute;
    top: 1px;
    left: 1px;
    width: 340px;
    height: 40px;
}
div#offerings
{
    position: absolute;
    top: 42px;
    left: 1px;
    width: 340px;
    height: 610px;
    overflow-y: scroll;
    border: 2px solid #D8A901;
    background-image: url(../pics/bluegrid1.jpg);
}
ul#pa-list
{
    position: absolute;
    top: 0px;
    left: 0px;
    list-style-type: none;
    padding: 0px;
    margin: 4px 0px 4px 4px;
}
li.pa-li-offering
{
    margin: 2px;
    background-color: silver;
}
div.li-pa-box
{
    position: relative;
    width: 305px;
    height: 36px;
    background-color: lightgray;
}
div.pa-relation
{
    position: absolute;
    top: 1px;
    right: 0px;
    width: 84px;
    height: 36px;
    color: white;
    font-size: 12px;
    padding: 5px;
}
div.pa-tag
{
    position: absolute;
    top: 1px;
    left: 1px;
    padding: 0px;
    margin: 0px;
    height:36px;
    width: 210px;
    background-image: url(../pics/goldtag.png);
    background-size: 100% 100%, 100% 100%;
    display: table-cell;
}
span#number-loaded
{
    position: absolute;
    bottom: 48px;
    font-size: 12px;
    right: 10px;
}
span#pas-loaded
{
    position: absolute;
    bottom: 48px;
    font-size: 13px;
    right: 35px;
}
span#more-pas
{
    position: absolute;
    bottom: 22px;
    right: 15px;
    color: blue;
    cursor: pointer;
}
span#search-pa-tname
{
    position: absolute;
    bottom: 44px;
    left: 40px;
    width: 250px;
    height: 22px;
    font-weight: bold;
    font-size: 20px;
}
span#search-pa-dates
{
    position: absolute;
    bottom: 25px;
    left: 40px;
    width: 280px;
    height: 12px;
    font-size: 11px;
}
span#search-pa-pob
{
    position: absolute;
    bottom: 6px;
    left: 14px;
    width: 330px;
    height: 16px;
    font-size: 12px;
}

/* search dialog end */

/* relationship div begin */
div#rel-dlg
{
    position: relative;
    width: 99%;
    height: 99%;
    background-image: url(../pics/bw_grid1.jpg);
    /*
    background-size: auto 100%, auto 100%;
    */
    background-origin: padding-box;
    background-repeat: repeat;
    overflow: scroll;
    margin: 2px;
    border: 1px solid #DBA901;
    -webkit-transform-origin: 0px 0px;
}

/* relationship div end */
table#login-dlg-table tr td
{
    width: 200px;
    height: 38px;
}
table#login-dlg-table tr td span.login-label
{
    width: 180px;
}
div#dlg-invite 
{
    position: relative;
    width: 480px;
    height: 440px;
}
div#dlg-invite span
{
    position: absolute;
    width: 110px;
}
div#dlg-invite span.to-label
{
    left: 0px;
    top: 2px;
}
div#dlg-invite span.subj-label
{
    left: 0px;
    top: 32px;
}
div#dlg-invite input#email-address
{
    position: absolute;
    top: 2px;
    left: 150px;
    width: 465px;
}
div#dlg-invite input#subject
{
    position: absolute;
    top: 30px;
    left: 150px;
    width: 465px;
}
div#dlg-invite textarea
{
    position: absolute;
    left: 0px;
    top: 65px;
    width: 650px;
    height: 260px;
}
/*********************/
/* pa merge dialogue */
/*********************/
div#merge-dlg
{
    position: relative;
    top: 0px;
    left: 0px;
    width: 97%;
    height: 100%;
}
div#head-section
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 95%;
    height: 80px;
    /* 
    border:  1px solid gray;
    */
}
div.head-radio-group
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 120px;
    height: 90px;
}
div.head-radio-group input.radio1 
{ 
    position: absolute;
    left: 0px;
    top: 5px; 
    width: 13px;
    height: 13px;
}
div.head-radio-group input.radio2 
{ 
    position: absolute;
    left: 0px;
    top: 29px; 
    width: 13px;
    height: 13px;
}
div.head-radio-group input.radio3 
{ 
    position: absolute;
    left: 0px;
    top: 55px; 
    width: 13px;
    height: 13px;
}
div.head-radio-group span
{
    position: absolute;
    left:19px;
}
div.head-radio-group span.no-adoption-label { position: absolute; top: 3px; }
div.head-radio-group span.adopted-out-label { position: absolute;  top: 28px; }
div.head-radio-group span.adopted-in-label { position: absolute;  top: 53px; }

div#head-pa
{
    position: absolute;
    top: 6px;
    left: 200px;
    padding: 0px;
    margin: 0px;
    height:36px;
    width: 160px;
    background-image: url(../pics/goldtag.png);
    background-size: 100% 100%, 100% 100%;
    display: table-cell;
}
input#merge-search-input
{
    position: absolute;
    top: 46px;
    left: 205px;
    width: 100px;
    height: 18px;
}
img#merge-search-button
{
    position: absolute;
    top: 45px;
    right: 16px;
    width: 28px;
    height: 32px;
}

div#merge-offerings
{
    position: absolute;
    top: 85px;
    width: 92%;
    height: 500px;
    border:  2px solid gray;
    overflow-y: scroll;
    background-image: url(../pics/bluegrid1.jpg);
}
div#merge-pa-info
{
    position: absolute;
    top: 481px;
    left: 0px;
    width: 100%;
    height: 60px;
}
ul#merge-pa-list
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
ul#merge-pa-list li.offer-pa
{
    position: relative;
    top: 1px;
    left: 0px;
    width: 100%;
    height: 38px;
}
ul#merge-pa-list li.highlighted-pa
{
    position: relative;
    top: 1px;
    left: 0px;
    width: 100%;
    height: 80px;
    background-color: #34282C;
}
li.offer-pa div.pa-tag
{
    position: absolute;
    top: 1px;
    left: 1px;
    padding: 0px;
    margin: 0px;
    height:36px;
    width: 180px;
    background-image: url(../pics/goldtag.png);
    background-size: 100% 100%, 100% 100%;
    display: table-cell;
}
li.highlighted-pa div.pa-tag
{
    position: absolute;
    top: 20px;
    left: 1px;
    padding: 0px;
    margin: 0px;
    height:36px;
    width: 180px;
    background-image: url(../pics/goldtag.png);
    background-size: 100% 100%, 100% 100%;
    display: table-cell;
}
div.pa-tag img.merge-actor
{
    position: absolute;
    top: 3px;
    right: 14px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}
