﻿/*
 * Copyright (C) 2014 Adacro Inc. - All Rights Reserved
 */
/* -------------------------------------------------------------------------- */
/* begin of synop eidt dialog box
/* -----------------------------------
/* used in static/dlgs/synopedit.html
/* -------------------------------------------------------------------------- */
/**
 * layout of edit-synop dialog / popup. Frame div
 */
div#the-sywz
{
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #C0C0C0;
}
/**
 * frame for putting picture for upload
 */
div#the-sywz div#sywz-upper
{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 47%;
    background-color: #C0C0C0;
}
div#sywz-picframe
{
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 2px;
    width: 33%;
    height: 95%;
    border-color: #D7D4D4;
    border-width: 1px;
    border-style: groove;
}
div#add-pic-btn
{
    position: absolute;
    left:12px;
    bottom: -2px;
    height: 22px;
    width: auto;
    background-color: #E0EEF2;
    padding-top: 4px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    border-color: #E0F2F2;
    border-width: 1px;
    border-style: groove;
    z-index: 100;
    cursor: pointer;
}
div#sywz-picframe span.LS
{
    position: relative;
    top: 20px;
    left: 10px;
    font-size: 24px;
    color: white;
}
div#sywz-picframe img
{
    margin:auto;
    padding: 3px;
    width: auto;
    height: 99%;
    max-width: 99%;
    max-height: auto;
    display: table-cell; 
    vertical-align: middle;
    border:solid;
    border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
    border-width: 1px 2px 2px 1px;
    background-color:white;
}
div#sywz-infoframe
{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px;
    padding: 5px;
    width: 67%;
    height: 100%;
}
div#sywz-infoframe span
{
    position: absolute;
    left: 12px;
    width: 132px;
    height: 28px;
}
span#sywz-sexlabel
{
    text-align: right;
    top: 11px;
}
span#sywz-namelabel
{
    text-align: right;
    top: 48px;
}
span#sywz-doblabel
{
    text-align: right;
    top: 81px;
}
span#sywz-dodlabel
{
    text-align: right;
    top: 114px;
}
span#sywz-poblabel
{
    text-align: right;
    top: 145px;
}
span#sywz-podlabel
{
    text-align: right;
    top: 178px;
}
div#sywz-infoframe span#sywz-adp-in-label
{
    position: absolute;
    text-align: right;
    top: 210px;
    width: 130px;
    left: 16px;
}
input#sywz-adp-in
{
    position: absolute;
    left: 155px;
    width: 22px;
    height: 22px;
    padding-left: 4px;
    top: 210px;
}
div#sywz-infoframe span#sywz-adp-out-label
{
    position: absolute;
    text-align: right;
    top: 210px;
    width: 100px;
    left: 230px;
}
input#sywz-adp-out
{
    position: absolute;
    left: 340px;
    width: 22px;
    height: 22px;
    padding-left: 4px;
    top: 210px;
}
div#sywz-infoframe input.txt
{
    position: absolute;
    left: 159px;
    width: 221px;
    height: 26px;
    padding-left: 4px;
    background-color: #DEDEDE;
    border: 1px solid white;
}
div#sywz-infoframe input.needy
{
    position: absolute;
    left: 159px;
    width: 208px;
    height: 26px;
    padding-left: 4px;
    background-color: #DEDEDE;
    border: 1px solid red;
}
div#radio-box
{
    position: absolute;
    top: 0px;
    left:155px;
}
input#synwzd-male-radio
{
    position: relative;
    top:  4px;
    left: 6px;
    width: 30px;
    height: 30px;
}
input#synwzd-female-radio
{
    position: relative;
    top:  4px;
    left: 26px;
    width: 30px;
    height: 30px;
}
div#sywz-infoframe label#male-icon-label
{
    position: relative;
    top: 8px;
    left: 1px;
    width:28px;
}
div#sywz-infoframe label#female-icon-label
{
    position: relative;
    top: 9px;
    left: 19px;
    width: 28px;
}
div#sywz-infoframe label img.male
{
    position: relative;
    width: 24px;
    height: 32px;
}
div#sywz-infoframe label img.female
{
    position: relative;
    width: 26px;
    height: 32px;
}
input#sywz-name
{
    top: 42px;
}
input#sywz-dob
{
    top: 75px;
}
input#sywz-dod
{
    top: 108px;
}
input#sywz-pob
{
    top: 141px;
}
input#sywz-pod
{
    top: 174px;
}
textarea#sywz-nutshell
{
    width: 97%;
    height: 94%;
    padding: 5px;
    resize: none;
    background-color: #DEDEDE;
    border: 2px solid white;
}
div#sywz-lower
{
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 5px;
    width: 99%;
    height: 51%;
    background-color: #C0C0C0;
}
div#sywz-langbar
{
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 5%;
    background-color: #EFF5FB;
}
/**
 * file drop-in picture upload
 */
div#portrait-drag
{
    position: absolute;
    top: 3px;
    left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    font-size: 22px;
    font-weight:bold;
    width: 170px;
    height: 200px;
    display: block;
    font-weight: bold;
    text-align: center;
    color: #555;
    border: 2px dashed #555;
    border-radius: 7px;
    cursor: default;
    opacity: 0.8;
    z-index: 200;
    background-color: white
}

div#portrait-drag.hover
{
    color: #f00;
    border-color: #f00;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888;
}

div#portrait-drag button
{
    position: absolute;
    bottom: 18px;
    left: 50px;
    width: 80px;
    height: 30px;
}
